html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  font-family: monospace;
  background: #1e1e1e;
  color: #eee;
}
#timeline {
  position: sticky;
  top: 0;
  z-index: 10;
  flex: 0 0 auto;
  flex-shrink: 0;
  background-color: #222;
  color: #eee;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #444;
  
}
#timeline-content {
  display: flex;
  text-align: left;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%;

}
.timeline-dot {
  display: inline-block;
}
#terminal {
  flex: 1 1 auto;
  text-align: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.xterm {
  width: 100% !important;
  height: 100% !important;
  text-align: left !important;
  padding: 10px !important;
  box-sizing: border-box !important;
}
.xterm-viewport,
.xterm-screen,
.xterm-rows,
.xterm-row,
.xterm-char,
#terminal > div {
  text-align: left !important;
}
.terminal-wrapper {
  width: 100%;
  height: 100%;
  text-align: left;
}
