.profile-picture {
  width: 48px;
  height: 48px;
  border-radius: 50%; /* Hace la imagen circular */
  object-fit: cover;
  border: 2px solid rgba(255, 255, 255, 0.2);
  margin-left: 20px;
  cursor: pointer;
}

.user-profile-group {
  display: flex;
  align-items: center;
  margin-left: 10px;
}