.nav-landing-link {
  color: white !important;
  text-transform: none !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  opacity: 0.8;
}

.nav-landing-link:hover {
  opacity: 1;
  background: transparent !important;
}

/* Estilos para los botones dentro del Modal */
.btn-auth-github {
  background-color: #24292e !important;
  color: white !important;
}
.btn-auth-google {
  background-color: #4285f4 !important;
  color: white !important;
}