body {
  background: #1e1e1e;
  color: #eee;
  font-family: monospace;
  margin: 0;
  padding: 10px;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  color: #cccccc;
}

#timeline-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 3px;
}

.timeline-dot {
  /* Estilos comunes para todos los puntos */
  display: flex;
  font-weight:bold;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 24px;
  font-size:14px;
  border-radius: 50%;
  cursor: pointer;
  margin: 3px;
}

.timeline-dot span {
  /* Estilos para el símbolo '✓' dentro del punto */
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
}
