<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="{{CSS_PATH}}" />
  <title>TDDLab Timeline</title>
</head>
<body>
  <h2>TDDLab Timeline</h2>

  <div id="timeline-content">
    {{TIMELINE_CONTENT}}
  </div>

  <script>
    const vscode = acquireVsCodeApi();

    window.addEventListener("message", event => {
      if (event.data.command === "updateTimeline") {
        document.getElementById("timeline-content").innerHTML = event.data.html;
      }
    });
  </script>
</body>
</html>