<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Security-Policy" content="default-src 'none'; img-src {{CSP_SOURCE}} data:; style-src {{CSP_SOURCE}} 'unsafe-inline'; script-src 'nonce-{{NONCE}}';">
  
  <link rel="stylesheet" href="{{CSS_PATH}}" />
  <title>TDDLab Timeline</title>
</head>
<body>
  <h2>TDDLab Timeline</h2>
  <div id="timeline-content">
    {{TIMELINE_CONTENT}}
  </div>

  <script nonce="{{NONCE}}">
    const vscode = acquireVsCodeApi();
    window.addEventListener('message', event => {
      const message = event.data;
      if (message.command === 'updateTimeline') {
        document.getElementById('timeline-content').innerHTML = message.html;
      }
    });
  </script>
</body>
</html>