node_modules
.vscode/**
.vscode-test/**
src/**
.git
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
out/test

node_modules/**

!/.env

!node_modules/adm-zip/**
!node_modules/crypto-js/**
!node_modules/dotenv/**
