.groups-table-header-row {
  border-bottom: 2px solid #E7E7E7;
}

.groups-create-btn {
  border-radius: 17px !important;
  text-transform: none !important;
  font-size: 0.95rem !important;
}

.groups-detail-cell {
  width: 100%;
  padding: 0 !important;
  margin: 0;
}

.groups-detail-wrapper {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.groups-detail-content {
  padding: 50px;
  margin-left: -30px;
}

.groups-edit-title {
  font-size: 0.8rem;
}

.groups-edit-label {
  font-size: 0.95rem;
}

.groups-edit-cancel-btn {
  color: #555 !important;
  text-transform: none !important;
}

.groups-edit-save-btn {
  text-transform: none !important;
}
