.container {
  align-items: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.myButton {
  box-shadow: 3px 4px 0px 0px #1564ad;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color: #79bbff;
  border-radius: 5px;
  border: 1px solid #337bc4;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  padding: 12px 44px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}
.myButton:hover {
  background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  background-color: #378de5;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.mainInfoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  width: 100%;
}
.error-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ff5252; 
  color: #fff; 
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  text-align: center;
  font-weight: bold;
  width: 40% !important;
  height: 10rem;
}
