name: Deploy to Vercel

on:
  push:
    branches:
      - SP3_deploy_backend

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Vercel CLI
        run: npm install -g vercel

      - name: Deploy to Vercel
        run: |
          cd ./server
          vercel --prod --token ${{ secrets.VERCEL_TOKEN }}
